<p class="bio">
  Hi there! My name is <strong>Jijin K Haridas</strong>. I'm a software engineer at <a href="https://www.bigbinary.com/" target="_blank">BigBinary</a>. I work with Ruby on Rails and React.
</p>

<style>
  p{
    line-height: 1.5em;
  }
</style>
